body{
    background-color: gray;
}
#shee{
    text-align: center;
    color:black ;
}

#wehh{
    text-align: center;
    padding-block: 30px;
    color: rgb(0, 0, 0);
    font-style: oblique;
    padding: 20px; background-color: beige;
    border-radius: 50px;
}
button {
     position: absolute;
     background-color: rgb(122, 129, 134);
     border: none;
     font-size: 15px ;
     border-radius: 50px;
     color: rgb(0, 38, 255);
     cursor: pointer;
}
.yeet{
    background-color:beige ;
    font-style: italic ;
    border-radius: 20px;
    font-weight: 800;
}
.woo{
    background-color: beige;
    border-radius: 20px;
    font-style: italic;
    font-weight: 800;
    
}
.hehe{
    background-color:beige ;
    font-style: italic ;
    border-radius: 20px;
    font-weight: 800;
}
#moor{
   background-color: gray(189, 115, 4); 
   border: none;
   text-align: center;
   font-weight: 800;
}
.got{
    background-color:beige ;
   font-style: italic;
    border-radius: 20px;
    font-weight: 800;
}